.lazy_grid{
    display: grid;
    grid-template-columns: auto auto;
}

.content_grid{
 border: 1px solid rgb(235, 233, 233);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.lazyload-wrapper {
    display: flex;
}
.search{
    width: 60%;
    margin: auto;
    margin-top:20px;
    margin-bottom: 20px;
}
.lazyload-wrapper >div>img{
    width: 100%;
  
}
.lazyload-wrapper >span{
    text-align: left;
    margin-left: 5px;
    width: 60%;
     overflow: hidden;
     font-size: 16px;
     font-weight: 700;
     font-family: Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.cell{
    display: table;
}

/* Mobile with < 740px */
@media only screen and (max-width : 46.1875em) {
.lazy_grid{
    display: grid;
    grid-template-columns:  auto;
}
.search{
    width: 60%;
    margin: auto;
    margin-top:5px;
    margin-bottom: 5px;
}
    
    }

/* tablet with >=740px and width <1024 */
@media only screen and (min-width : 740px) and (max-width : 1023px) {

.search{
    width: 60%;
    margin: auto;
    margin-top:5px;
    margin-bottom: 5px;
}
}