.lazy_grid{
    display: grid;
    grid-template-columns: auto auto;
}

.content_grid{
 border: 1px solid rgb(88, 86, 86);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
    }
.lazyload-wrapper {
    display: flex;
}
.search{
    width: 60%;
    margin: auto;
    margin-top:20px;
    margin-bottom: 20px;
}
.lazyload-wrapper >div>img{
    width: 100%;
    height: 100px;
}
.lazyload-wrapper >span{
    width: 60%;
     overflow: hidden;
     font-size: 16px;
     font-weight: 700;
     font-family: Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}