.container_video{
    width: 100%;
    
}
.c_video{
    display: flex;
}
.videoPlay{
    width: calc(65%);
    padding: 10px;
}
.listvideo{
    width: 35%;
    height: 100%;
    padding-top: 5px;
}
.video{
    width: 100%;
    height: 500px;
}
li>div{
    display: flex;
    margin: 10px;
    text-align: left;
    cursor: pointer;
}
li{
 list-style-type: none;
}
.cell{
    width: 40%;

}
.cell >img{
    width: 100%;
    float: left;
    

}
h4{font-size: 13px;}
.title{
    width: calc(60% - 10px);
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 10px;
    float: left;
     overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.ReactModal__Content{
    margin: auto;
    width: 50%;
}

.ModalFrom>input, .ModalFrom>label{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
}
.ModalFrom>label{
    font-weight: 700;
}
.ModalFrom>input{
    height: 50px;
    margin-bottom: 20px;
}
.ModalFrom>button{
    width: calc( 100% - 100px) ;
    margin-left: 50px;
    margin-right: 50px;
    height: 50px;
}
.table_manage{
   border: 2px solid rgb(206, 205, 205);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
td{
    text-align: left;
}
.manage{
    background-color: #435d7d;
    height: max-content;
    padding: 10px;
    display: flex;
}
.text_manage{
    color: white;
    width: 50%;
    text-align: left;
}
.btn_add{
    text-align: right;
    margin-left: auto;
}
/* Mobile with < 740px */
@media only screen and (max-width : 46.1875em) {
.videoPlay{
    width: calc(100%);
    margin: auto;
    padding: 10px;
}
.video{
    height: 300px;
}
.container_video{
    display: flex;
    flex-direction: column;
}
.listvideo{
    width: 100%;
    height: 100%;
}


    
    }

/* tablet with >=740px and width <1024 */
@media only screen and (min-width : 740px) and (max-width : 1023px) {
   .videoPlay{
    width: calc(100%);
    margin: auto;
    padding: 10px;
}
.container_video{
    display: flex;
    flex-direction: column;
}
.listvideo{
    width: 100%;
    height: 100%;
}
.video{
    height: 300px;
}
}