.container_video{
    width: 100%;
    display: flex;
}
.videoPlay{
    width: calc(65% - 20px);
    margin: 20px;
}
.listvideo{
    width: 35%;
    height: 100%;
    margin-top: 10px;
}
.video{
    width: 100%;
    height: 500px;
}
li >div{
    display: flex;
    margin: 10px;
    text-align: left;
    cursor: pointer;

}
li{
 list-style-type: none;
}
.cell{
    width: 40%;
    height: 100px;

}
.cell >img{
    width: 100%;
    float: left;

}
h4{font-size: 13px;}
.title{
    width: calc(60% - 10px);
    font-size: 13px;
    font-weight: 700;
    margin-left: 10px;
    float: left;
     overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.ReactModal__Content{
    margin: auto;
    width: 50%;
}

.ModalFrom>input, .ModalFrom>label{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
}
.ModalFrom>label{
    font-weight: 700;
}
.ModalFrom>input{
    height: 50px;
    margin-bottom: 20px;
}
.ModalFrom>button{
    width: calc( 100% - 100px) ;
    margin-left: 50px;
    margin-right: 50px;
    height: 50px;
}